<div class="activity {{ action.verb }}">
    {% if actor_url %}
        <a href="{{ actor_url }}">{{ action.actor }}</a>
    {% else %}
        {{ action.actor }}
    {% endif %}
    {{ action.verb }}
    {% if action.hasTarget %}
        {% if target_url %}
            <a href="{{ target_url }}">{{ action.target }}</a>
        {% else %}
            {{ action.target }}
        {% endif %}
    {% endif %}
    {% if action.hasActionObject %}
        {% if action_object_url %}
            <a href="{{ action_object_url }}">{{ action.action_object }}</a>
        {% else %}
            {{ action.action_object }}
        {% endif %}
    {% endif %}
    {{ action.createdAt|date }}
</div>
